        .titulo1 {
            color: #00DD00;
            font-size: 45px;
        }

        .bg-body-tertiary {
            background-color: transparent !important;
        }

        .titulo2 {
            color: #fff;
            font-size: 55px;
            font-weight: lighter;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .titulo3 {
            color: #fff;
            font-size: 18px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 600;
        }

        p {
            font-size: 16px;
        }

        .background-inicio {
            background-image: url("images/background.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            align-items: center;
        }

        .background-landing {
            background-image: url("images/background-landing.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            align-items: center;
        }

        .background-login {
            background-image: url("images/background-login.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }

        .bg-overlay {
            background-color: black;
            width: 100%;
            height: 100%;
            opacity: 0.7;
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;

        }

        .bg-body-tertiary{
            background-color: #029802!important;
            height: 100px;
            color: #fff!important;
        }

        .centrar {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 32px;
        }

        .nav-container {
            display: flex;
            flex-direction: row;
            width: 100%;
            background-color: #029802;
            height: 100px;
            align-items: center;
        }

        footer {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            left: 0;
            bottom: 0;
            width: 100%;
            color: #fff;
            padding-left: 52px;
            padding-right: 52px;
            padding: 20px 10px;
            font-size: 16px;
            background-color: #029802;
            text-align: center;
            height: 100px;
            justify-content: space-around;
        }

        .footer-landing {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            color: #fff;
            padding-left: 52px;
            padding-right: 52px;
            padding: 20px 10px;
            font-size: 16px;
            background-color: transparent !important;
            text-align: center;
            height: 100px;
            justify-content: space-around;
        }

        footer p {
            margin-top: 15px;
        }

        .footer-container-contact {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 12px;
            color: #fff;
            font-size: 16px;
            text-decoration: none;

        }

        .cursor {
            cursor: pointer;
        }

        .animacion2 {
            width: 70%;
        }

        .usuario {
            width: 70%;
        }

        .subtitulo {
            font-size: 18px;
            font-weight: bold;
            color: #00DD00;
            text-decoration: none;
        }

        a:hover {
            color: #00DD00;
            text-decoration: none;
        }

        input:checked {
            background-color: #00DD00;
        }

        input,
        select {
            cursor: pointer;
        }

        .error {
            border: red solid 1px;
        }

        .btninicio {
            color: #fff;
            background-color: #00DD00;
            font-size: 20px;
            height: 48px;
            width: 340px;
            border: none;
            border-radius: 10px;
        }

        .btninicio:hover{
            color: #00DD00;
            background-color: #fff;
        }

        .btn-entrar {
            color: #fff;
            background-color: #00DD00;
            font-size: 35px;
            height: 64px;
            width: 296px;
            border: none;
            border-radius: 10px;
        }

        .btn-web {
            color: #fff;
            background-color: #00DD00;
            font-size: 20px;
            height: 50px;
            width: 150px;
            border: none;
            border-radius: 25px;
            align-items: center;

        }

        .btncirculos {
            padding: 15px;
            border: none;
            margin: 15px;
            border-radius: 50%;
        }

        .info2 {
            padding: 10px 80px;
        }

        .info3 {
            box-shadow: 3px 3px 10px #4d4d4d;
            border-radius: 10px;
            background-color: rgb(238, 238, 238);
            padding: 40px 20px;
            border: solid rgb(180, 180, 180) 1px;
        }

        .btn-web:hover {
            color: #00DD00;
            background-color: #fff;
        }

        .container-btns {
            gap: 40px;
            align-items: center;
        }

        #forgot-pass {
            font-weight: bold;
            text-align: end;
            font-size: 12px;
        }

        .logoBlanco{
            width: 75px;
        }
        .bglogin{
            background: #0000008c;
            border-radius: 8px;
        }

        @media (max-width:575px) {
            .animacion1 {
                width: 80% !important;
                margin: 0 auto !important;
                display: block !important;
            }

            .animacion2 {
                width: 100% !important;
            }
        }

        .card-info {
            height: 400px;
            background-color: rgba(36, 68, 46, 0.537);
            box-shadow: black 3px 3px 10px 0px;
            margin-top: 15%;
            padding-top: 11%;
            border-radius: 8px;
        }
        @media only screen and (min-width: 1920px) {
            .card-info {
                height: 500px;
                margin-top: 33%;
                padding-top: 18%;
                border-radius: 8px;
            }
            .centrar {
                margin-top: 7%!important;  
            }
            .titulo2{
                font-size: 69px;
            }
         }

         @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

background-buscador {
    background-color: #00DD00;
}
.logo {
    width: 270px;
}
.searchInput {
    width: 80%;
    background-color: transparent;
    border: 2px solid #00DD00;
    outline: none;
    padding: 5px 15px;
    color: #fff;
    border-radius: 5px;
    border-right: none;
}
.searchInput::placeholder {
    color: #060303;
    font-size: 14px;
}
.searchIcon {
    border-radius: 0 5px 5px 0;
    border-left: none;
    border-right: 2px solid #00DD00;
}
.searchIcon i {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
}
.input-group {
    margin-bottom: 20px;
    border-radius: 5px;
}
.form-control:focus {
    color: #00DD00;
    background-color: transparent;
    border-color: #00DD00;
    outline: 0;
    box-shadow: none;
}
.resultado {
    color: #fff;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.card-title {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.card-text {
    color: #555;
}

/* Style the form element with a border around it */
form {
    border: 4px solid #f1f1f1;
  }
  
  /* Add some padding and a grey background color to containers */
  .container {
    padding: 20px;
    background-color: #f1f1f1;
  }
  
  /* Style the input elements and the submit button */
  /* input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  } */
  
  /* Add margins to the checkbox */
  input[type=checkbox] {
    margin-top: 16px;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    border: none;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }

  .resultadoclases {
    width: 557px;
    height: 335px;
    /*text-align: center;
    display: block;*/
}

.formato1 {
    font-size: 20px;
    text-align: left;
}

.selectclases {
    color: #fff;
    background-color: #029802;
    font-size: 20px;
    padding: 8px 10px;
}

option {
    background-color: #e4e4e4;
    font-size: 20px;
    color: #000;
}
.memb_Img{
    width: 555px;
}
.clases_img_container{
    height: 474px;
    overflow: hidden;
}
.clases_img_container img{
    transform: translateY(-1058px);
}
.searchCont{
    min-height: 500px;
}
#adistar{
    width: 300px;
    margin-top: -145px;
}

@media (max-width: 576px) {
    #resultado {
        /*por mostrar la imagen usando style backgroundImage se deben usar estas instrucciones*/
        background-position: center center !important;
        background-size: 80% !important;
        background-repeat: no-repeat !important;
    }
   
}
/* @media only screen and (min-width: 1920px) {
    footer{
        position: fixed;
    }
} */

/*Estilo pestañas*/

.tab {
    overflow: hidden;
    border: 2px solid #ccc;
    background-color: #e4e4e4;
}

p {
    font-size: 20px;
    text-align: left;
}

.tam1 {
    font-size: 24px;
}


.tab button {
    background-color: inherit;
    float: left;
    color: #000;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}


.tab button:hover {
    background-color: green;
    color: #fff;
}

.tab button.active {
    background-color: rgb(21, 239, 54);
    color: #fff;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 2px solid #ccc;
    border-top: none;
    background: #eee;
}

.tabcontent {
    animation: efect1 2s;
}

@keyframes efect1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*lightbox foto*/

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 1;
}

.modal {
    display: none;
    position: fixed;
    padding-top: 100px;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    margin-top: 170px;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
    height: 150px;
}

.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

.close {
    position: absolute;
    top: -10px;
    right: 35px;
    color: #fff;
    font-size: 60px;
    font-weight: bold;
    transition: 0.3s;
    background-color: #000;
}

.close:hover,
.close:focus {
    color: rgba(107, 231, 66, 0.87);
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

.cursor {
    cursor: pointer;
}

/*lightbox video*/

#boton {
    background-color: #029802;
    border: none;
    color: #fff;
    padding: 7px 15px;
    display: inline-block;
    font-size: 30px;
    letter-spacing: 2px;
    margin: 0;
    border-radius: 15px;
}


.lightbox {
    background-color: rgba(0, 0, 0, 0.8);
    overflow: scroll;
    position: fixed;
    display: none;
    z-index: 1;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.lightbox-container {
    position: relative;
    max-width: 960px;
    margin: 10% auto;
    padding: 0 3%;
    height: auto;
    z-index: 10;
}


.lightbox-content {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.7);
}

.lightbox-close {
    background: transparent;
    background-color: #029802;
    position: absolute;
    right: 7%;
    max-width: 960px;
    font-weight: 300;
    font-size: 20px;
    border: none;
    color: #fff;
    top: -40px;
}

@media (max-width: 575px) {
    .lightbox-container {
        margin-top: 150px !important;
    }
}

.video-container {
    padding-bottom: 56.25%;
    position: relative;
    padding-top: 30px;
    overflow: hidden;
    height: 0;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

@media (max-width: 575px) {
    .video-container {
        width: 100% !important;
        margin: 0 auto;
    }
}

/*carousel foto*/

a {
    font-size: 22px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

a:hover {
    color: #029802;
}